/* Typography and General Styles */
h1 {
    font-family: "Lora", serif;
    font-size: 2.5rem;
    color: #333;
    margin-top: 20px;
}

body {
    font-family: "Syncopate", serif;
    font-size: large;
    margin: 0;
    background-color: #333;
    color: #ffffff;
}

@media (max-width: 768px) {
    .profile-pic {
        width: 250px;
        height: 250px;
    }
    nav ul {
        flex-direction: column; /* Stack links vertically */
    }
}

.animated-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb);
    background-size: 400% 400%; /* Makes the animation smooth */
    animation: gradient-animation 10s ease infinite; /* Infinite loop */
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

/* Layout and Section Styles */
header, nav, section, footer {
    padding: 20px;
    text-align: center;
}

/* Navigation Menu */
nav ul {
    font-family: "Rubik Moonrocks", serif;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #21f4ff;
    color: #fff;
    border-radius: 5px;
}

/* Footer */
footer {
    font-family: "Syncopate", serif;
    background-color: #21f4ff;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    color: #333;
    text-align: center;
    font-size: 0.9rem;
}
