h1 {
    font-family: "Lora", serif;
    font-size: 2.5rem;
    color: #c3ff2d;
    margin-top: 20px;
}

body {
    font-family: "Syncopate", serif;
    font-size: large;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #2f4e60;
    color: #ffffff;
}

@media (max-width: 768px) {
    .profile-pic {
        width: 250px;
        height: 250px;
    }
    nav ul {
        flex-direction: column;
    }
}

.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.animated-bg span {
    position: absolute;
    display: block;
    background: #ff217d;
    opacity: 15%;

    width: 4px;
    height: 120px;

    top: calc(100% * var(--random-y));
    left: calc(100% * var(--random-x));

    animation: morph-shape 12s ease-in-out infinite, float 16s linear infinite;
}    
.animated-bg span:nth-child(1) {
    --random-x: 0.1;
    --random-y: 0.3;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(2) {
    --random-x: 0.2;
    --random-y: 0.4;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(3) {
    --random-x: 0.8;
    --random-y: 0.6;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(4) {
    --random-x: 0.1;
    --random-y: 0.9;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(5) {
    --random-x: 0.5;
    --random-y: 0.1;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(6) {
    --random-x: 0.7;
    --random-y: 0.3;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(7) {
    --random-x: 0.9;
    --random-y: 0.1;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(8) {
    --random-x: 0.7;
    --random-y: 0.3;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(9) {
    --random-x: 0.4;
    --random-y: 0.1;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(10) {
    --random-x: 0.6;
    --random-y: 0.4;
    --random-rotation: 0.2;
    animation-duration: 12s;
}
.animated-bg span:nth-child(11) {
    --random-x: 0.5;
    --random-y: 0.8;
    --random-rotation: 0.2;
    animation-duration: 12s;
}

@keyframes morph-shape {
    0% {
        border-radius: 0%;
        width: 4px;
        height: 120px;
        clip-path: none;
    }
    25% {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    50% {
        border-radius: 0%;
        width: 100px;
        height: 100px;
    }
    75% {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        width: 120px;
        height: 120px;
    }
    100% {
        border-radius: 0%;
        width: 4px;
        height: 120px;
        clip-path: none;
    }
}
@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(15deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.profile-pic {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

header, nav, section, footer {
    padding: 20px;
    text-align: center;
}

nav ul {
    font-family: "Rubik Moonrocks", serif;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #21f4ff;
    color: #000000;
    border-radius: 5px;
}
footer {
    font-family: "Syncopate", serif;
    background-color: #21f4ff;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    color: #333;
    text-align: center;
    font-size: 0.9rem;
}